<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form action="/add" method="get" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">

    <label for="number">Number</label>
    <input id="number" name="number" type="text" value="" autofocus/>
    <label for="date">Date</label>
    <input id="date" name="date" type="date" value=""/>
    <label for="time">Time</label>
    <input id="time" name="time" type="time" value=""/>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>